# =====================
# Python Backend
# =====================

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
coverage.xml
htmlcov/

venv/
env/

.env
logs/


# =====================
# Vue Frontend
# =====================

node_modules/

dist/
frontend/output/playwright/
frontend/.playwright-cli/


# =====================
# Database
# =====================

*.db
*.sqlite
chroma_db/


# =====================
# IDE
# =====================

.vscode/
.idea/


# =====================
# OS
# =====================

.DS_Store
Thumbs.db
