# =====================
# Python Backend
# =====================

__pycache__/
*.pyc
*.pyo

venv/
env/

.env


# =====================
# Vue Frontend
# =====================

node_modules/

dist/


# =====================
# Database
# =====================

*.db
*.sqlite


# =====================
# IDE
# =====================

.vscode/
.idea/


# =====================
# OS
# =====================

.DS_Store
Thumbs.db